.styled-link {
  display: inline-block;
  font-weight: 700;
  line-height: 1.3;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  color: #008060;
  position: relative;
  max-width: calc(100% - 1.7em);
  text-decoration: none;
  transition: border 150ms ease-in-out;
}
.styled-link:hover,
.styled-link:focus,
a:hover .styled-link,
a:focus .styled-link {
  text-decoration: none;
  border-bottom-color: currentColor;
  color: #008060;
}
.styled-link__icon {
  fill: currentColor;
  display: inline-block;
  position: absolute;
  width: 1em;
  height: 1em;
  margin-top: 0.15em;
  margin-left: 0.3em;
  transform: translateX(0);
  transition: transform 150ms ease-in-out;
}
.styled-link:hover .styled-link__icon,
.styled-link:focus .styled-link__icon,
a:hover .styled-link__icon,
a:focus .styled-link__icon {
  transform: translateX(2px);
}
@media screen and (prefers-reduced-motion: reduce) {
  .styled-link,
  .styled-link__icon {
    transition: none;
    animation: none;
  }
}
.styled-link--skin-black,
.styled-link--skin-black:hover,
.styled-link--skin-black:focus,
a:hover .styled-link--skin-black,
a:focus .styled-link--skin-black {
  color: #000000;
}
.styled-link--skin-inherit,
.styled-link--skin-inherit:hover,
.styled-link--skin-inherit:focus,
a:hover .styled-link--skin-inherit,
a:focus .styled-link--skin-inherit {
  color: inherit;
}
.resource-cards__card {
  padding: 32px;
  box-shadow: 0 9px 45px 0 #d2d5d9;
  border-radius: 4px;
  min-height: 460px;
  margin: 0.625em;
  width: calc(33% - 1.25em);
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 67.4375em) {
  .resource-cards__card {
    margin: 10.6666666667px auto;
    width: calc(50% - 1.25em);
    min-height: 400px;
  }
}
@media screen and (max-width: 46.8125em) {
  .resource-cards__card {
    width: 100%;
  }
  .resource-cards__card:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 46.8125em) {
  .resource-cards__heading,
  .resource-cards__subhead {
    padding: 0 1.25em;
  }
}
.resource-cards__card-image {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
.resource-cards__card-image img {
  border-radius: 4px;
}
.resource-cards__card-heading {
  padding-top: 32px;
}
.resource-cards__card-lower {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 130px;
  flex-grow: 1;
}
.wistia-modal {
  position: relative;
  padding: 0;
  padding-top: 56.25%;
}
.wistia-modal__embed-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.wistia-modal__embed {
  width: 100%;
  height: 100%;
}
.wistia-modal__spinner {
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
  border-radius: 50%;
  border: 3px solid #828a91;
  border-top-color: transparent;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.wistia-modal.has-played .wistia-modal__spinner {
  display: none;
}
.modal-container--wistia {
  align-items: center;
  padding-bottom: 0;
  transition: none;
}
.modal-container--wistia > .modal {
  width: 100%;
  padding-top: 64px;
  padding-bottom: 64px;
}
.modal-container--wistia.js-is-active {
  display: flex;
}
.restaurants-hero {
  position: relative;
}
@media screen and (max-width: 67.4375em) {
  .restaurants-hero {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 90em) {
  .restaurants-hero {
    padding-top: 9.375em;
    padding-bottom: 9.375em;
  }
}
.restaurants-hero__subhead {
  margin-bottom: 32px;
}
@media screen and (min-width: 67.5em) {
  .restaurants-hero__subhead {
    font-size: 1.875em;
  }
}
@media screen and (min-width: 90em) {
  .restaurants-hero__subhead {
    margin-bottom: 96px;
  }
}
.restaurants-hero__image-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 67.4375em) {
  .restaurants-hero__image-container {
    justify-content: center;
  }
}
@media screen and (min-width: 67.5em) and (max-width: 89.9375em) {
  .restaurants-hero__image-container {
    max-width: 600px;
    align-items: center;
  }
}
@media screen and (min-width: 67.5em) {
  .restaurants-hero__image-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: calc(50% - 32px);
  }
}
@media screen and (min-width: 90em) {
  .restaurants-hero__image-container {
    width: 50%;
  }
}
.restaurants-hero__image {
  display: flex;
  align-items: flex-end;
}
.restaurants-hero__image-column--food {
  position: relative;
  margin-right: 20px;
}
@media screen and (max-width: 46.8125em) {
  .restaurants-hero__image-column--food {
    margin-right: 10px;
  }
}
.restaurants-hero__image--tonnarelli {
  margin-bottom: 20px;
}
@media screen and (max-width: 46.8125em) {
  .restaurants-hero__image--tonnarelli {
    margin-bottom: 10px;
  }
}
.restaurants-hero-video__play {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
}
.restaurants-hero-video__icon {
  border: 2px solid #ffffff;
  padding: 8px;
  border-radius: 2px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.restaurants-hero-video__text {
  color: #ffffff;
  font-weight: 700;
}
@media screen and (max-width: 46.8125em) {
  .restaurants-hero-video__text {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
}
.restaurant-online-ordering--express-theme-images {
  position: relative;
}
@media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
  .restaurant-online-ordering--express-theme-images {
    margin-right: 32px;
  }
}
.restaurant-online-ordering--express-theme-mobile-preview {
  position: absolute;
  bottom: 0;
  right: -30px;
  width: 33%;
}
@media screen and (max-width: 67.4375em) {
  .restaurant-online-ordering--express-theme-mobile-preview {
    width: 45%;
    right: -15px;
  }
}
@media screen and (max-width: 46.8125em) {
  .restaurant-online-ordering--express-theme-mobile-preview {
    right: -30px;
    width: 50%;
  }
}
.express__block-link {
  color: #c1f0d0;
}
.restaurant-online-ordering--imagery-section {
  padding: 0;
}
.icon--fill-green-80 {
  fill: #004c3f;
}
@media screen and (min-width: 67.5em) {
  .features-accent {
    position: relative;
    top: -100px;
  }
}
.restaurants--testimonial-quote {
  text-indent: -33%;
  margin-left: 0;
  margin-right: 0;
  font-size: 3em;
  font-weight: bold;
  line-height: 1.2;
}
@media screen and (max-width: 67.4375em) {
  .restaurants--testimonial-quote {
    font-size: 2.25em;
    text-indent: -32px;
  }
}
@media screen and (max-width: 46.8125em) {
  .restaurants--testimonial-quote {
    text-indent: 0;
  }
}
.restaurants-testimonial--image-container {
  position: relative;
}
.restaurants-testimonial--image-container figcaption {
  margin-right: 50%;
}
.restaurants-testimonial__image-man {
  margin-left: 0;
  margin-right: 0;
}
@media screen and (max-width: 67.4375em) {
  .restaurants-testimonial__image-man {
    width: 75%;
  }
}
.restaurants-testimonial__image-pasta {
  position: absolute;
  z-index: 1;
  right: -31%;
  top: 51%;
}
@media screen and (max-width: 67.4375em) {
  .restaurants-testimonial__image-pasta {
    width: 40%;
    right: 32px;
  }
}
@media screen and (max-width: 46.8125em) {
  .restaurants-testimonial__image-pasta {
    right: 0;
  }
}
.free-trial__heading-wrapper {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 67.5em) {
  .free-trial__heading-wrapper {
    width: 45%;
  }
}
@media screen and (min-width: 46.875em) {
  .free-trial__heading-wrapper {
    padding-right: calc(5% + 9px);
    padding-left: calc(5% + 9px);
  }
}
@media screen and (max-width: 46.8125em) {
  .free-trial__heading-wrapper {
    padding-right: calc(5% + 4px);
    padding-left: calc(5% + 4px);
  }
}
.free-trial__subhead {
  font-size: 1.25em;
}
@media screen and (max-width: 46.8125em) {
  .app-card-container:not(:last-of-type) {
    margin-bottom: 64px;
  }
}
.app-card__icon {
  width: 85px;
  height: 85px;
  margin-left: 0;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.restaurant-apps-section {
  padding-bottom: 3em;
}
@media screen and (max-width: 67.4375em) {
  .restaurant-experts-section {
    background-color: #f3fcf4;
    padding-top: 3em;
  }
}
@media screen and (min-width: 67.5em) {
  .experts__wrapper {
    padding-top: 6em;
    padding-bottom: 6em;
  }
}
.restaurant-resource-card {
  box-shadow: 0 9px 45px 0 rgba(0, 0, 0, 0.1);
}
